.dropzone {
  border: 1px dashed var(--mui-palette-divider);
  border-radius: var(--mui-shape-borderRadius);
  background-color: var(--mui-palette-background-paper);
  color: var(--mui-palette-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  height: 100%;
}

.dropzoneActive {
  border-color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-action-hover);
}

.images {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.imageItem {
  cursor: pointer;
  position: relative;
  & img {
    width: 100%;
    border-radius: var(--mui-shape-borderRadius);
  }
}

.removeButton {
  position: absolute;
  top: 4px;
  right: 4px;
}
