**/target/
**/node_modules/
**/.git/
**/.gitignore
**/.env
**/.env.*
**/Dockerfile
backend_go/
captcha_service/
docs/
frontend/
local_docs/
mock_payment_gateway/
project.zip
tgbot/
**/project.zip
**/logs/
**/uploads/
**/.DS_Store
