# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.db
*.sqlite3
.env

# Node
node_modules/
.next/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.vscode/
.idea/
*.swp
*~
.DS_Store
*.session
tokens.txt
unavailable_tokens.txt
uploads/
*/target/
logs/