DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=db
CORS_ORIGINS=["http://localhost:3000"]
SECRET_KEY=change-this-to-a-super-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SERVICE_API_KEY=your_service_api_key

MOCK_GATEWAY_URL=http://localhost:8078
PORT=8000
BOT_DISPATCHER_WEBHOOK_URL=http://localhost:8080/webhook/dispatch-message
PAYMENT_NOTIFICATION_MINUTES=1
IMAGE_UPLOAD_PATH=./uploads/images

# Platform Payment System
PLATFORM_PAYMENT_SYSTEM_BASE_URL=https://frontend-m-1-dfssfs3.com/
PLATFORM_PAYMENT_SYSTEM_LOGIN=vpn
PLATFORM_PAYMENT_SYSTEM_PASSWORD=yXtJHXwihlPP
PLATFORM_PAYMENT_SYSTEM_2FA_KEY=6VPXZP5XLTDASK22

TFA_SECRET_KEY=this-is-a-super-secret-32-byte-key

# Commission and Rate Settings
SERVICE_USD_RATE=1.0
AUTOSALE_COMMISSION_PERCENT=1.0
CRYPTO_PROVIDER_COMMISSION_PERCENT=0.05
PAYMENT_PROVIDER_COMMISSION_PERCENT=0.2
PLATFORM_ONLY_COMMISSION_PERCENT=1.0