.container {
  display: flex;
  gap: 16px;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
}

.mainContent {
  flex-grow: 1;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.dropzoneActive {
  background-color: #e0e0e0;
  border-color: #2196f3;
}

.img {
  border-radius: var(--mui-shape-borderRadius);
}