.container {
  display: flex;
  gap: 16px;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
}

.mainContent {
  flex-grow: 1;
}

.dropzone {
  border: 2px dashed var(--mui-palette-divider);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: var(--mui-palette-background-paper);
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.dropzoneActive {
  border-color: var(--mui-palette-primary-main);
}

.img {
  border-radius: var(--mui-shape-borderRadius);
}
