.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

.fullWidth {
  width: auto;
}

.preview {
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: var(--mui-shape-borderRadius);
  border: 1px solid var(--mui-palette-divider);
  display: block;
}

.removeButton {
  position: absolute;
  top: 4px;
  right: 4px;
}
