.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(550px, 33%));

  & :global(.MuiCardHeader-title) {
    word-break: break-all;
  }
}

@media (width < 600px) {
  .grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
